<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Home Page</title>
<style type="text/css">
	#msg{
		background-color: yellow;
		padding: 10px;
	}
</style>
</head>
<body>
	<h1>Incapp Book App</h1>
	<hr>
	<p>
		Welcome <b th:text="${session.name}"></b> 
		<a href='AdminHome'>Home</a> 
		<a href='AllBooks'>All Books</a>  
		<a href='Logout'>Logout</a> 
	</p>
	<hr>
	<h2>Add New Book</h2>
	
	<form action="AddBook" method="post" enctype="multipart/form-data">
		<label>Name:</label>
		<input type="text" name="name" required />
		<br><br>
		<label>Author Name:</label>
		<input type="text" name="aname"  />
		<br><br>
		<label>Publisher Name:</label>
		<input type="text" name="pname"  />
		<br><br>
		<label>Price:</label>
		<input type="number" name="price" required />
		<br><br>
		<label>Content:</label>
		<input type="file" accept=".pdf" name="content"  />
		<br><br>
		<label>Image:</label>
		<input type="file" accept=".jpg,.png,.jpeg" name="image"  />
		<br><br>
		<button>Submit</button>
	</form>
</body>
</html>